<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

    <select id="selectBoard" statementType="PREPARED"
            parameterType="int" resultType="sunmin.spring.mvc.vo.Board">
        select bdno, title, userid, regdate, views, thumbup from Board order by bdno desc
        limit #{snum}, 30
    </select>

    <select id="countBoard" statementType="PREPARED" resultType="int">
        select count(bdno) cnt from Board
    </select>

    <insert id="insertBoard" statementType="PREPARED" parameterType="sunmin.spring.mvc.vo.Board">
        insert into Board (title, userid, contents) values (#{title}, #{userid}, #{contents})
    </insert>

    <select id="selectOne" statementType="PREPARED" parameterType="String" resultType="sunmin.spring.mvc.vo.Board">
        select * from Board where bdno = #{bdno}
    </select>

    <update id="viewsBoard" statementType="PREPARED" parameterType="String">
        update Board set views = views + 1 where bdno = #{bdno}
    </update>

    <!-- 동적 질의문(dynamic query)으로 검색 기능 구현 -->
    <!-- 단, 컬럼명이나 테이블명에는 #{}가 아닌 ${}를 사용! -->
    <select id="findSelect" statementType="PREPARED" parameterType="map" resultType="sunmin.spring.mvc.vo.Board">
        select bdno, title, userid, regdate, views, thumbup from Board
        <if test="ftype != 'titcont'">
            where ${ftype} like concat(#{fkey}, '%')
        </if>
        <if test="ftype == 'titcont'">
            where title like concat(#{fkey}, '%') or contents like concat(#{fkey}, '%')
        </if>
        order by bdno desc limit #{snum}, 30
    </select>

    <select id="findSelectCount" statementType="PREPARED" parameterType="map" resultType="int">
        select count(bdno) cnt from Board
        <if test="ftype != 'titcont'">
            where ${ftype} like concat(#{fkey},'%')
        </if>
        <if test="ftype == 'titcont'">
            where title like concat(#{fkey},'%') or contents like concat(#{fkey},'%')
        </if>
    </select>

</mapper>